body {
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.02em;
}
.main {
    background-color: var(--background-default);
}
.main-wrap {
    max-width: 1303px;
    margin: 0 auto;
    padding: 40px 0px 40px;
    border-radius: 6px 6px 0px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25%));
}

.about-us-image {
    width: 100%;
    height: 486px;
    margin: 0;
}
.about-us-image__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0px 0px;
}

.advantages-section-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 503px;
    background: linear-gradient(360deg, rgba(61, 0, 98, 0.6) 30.87%, rgba(94, 78, 78, 0) 100%), var(--secondary-dark);
}

.about-us-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-advantages__image {
    min-width: 376px;
    height: 376px;
    margin-right: 60px;
}
.advantages__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-position: top right;
}
.advantages-article {
    flex-basis: 630px;
}
.advantages-article__header {
    margin: 0;
    font-size: 34px;
    line-height: 40px;
}
.advantages-article__text {
    min-width: 350px;
    margin: 15px 0;
}
.advatages-article__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    font-size: 20px;
}

.advatages-columns-wrap {
    background-color: var(--secondary-darker);
}

.advantages-columns-section__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 34px;
}

.advantages-columns {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
}

.advantages-columns__text {
    flex-basis: 330px;
    min-width: 240px;
}
