@import './colors.css';

body {
    margin: 0;
    color: var(--font-default);
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.02em;
}

.main {
    background-color: var(--background-default);
    font-size: 16px;
}

.main-wrap {
    max-width: 1185px;
    margin: 0 auto;
    padding: 40px 0px 40px;
}

.form {
    position: relative;
    max-width: 854px;
    height: 847px;
    margin: 0 auto;
    padding: 17px 25px 20px 30px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 4px 4px var(--box-shadow-default);
}

.form__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.header__title {
    margin: 0;
    color: var(--font-mute);
    font-size: 20px;
}
.header__close-button {
    width: 37px;
    height: 37px;
    border: none;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 1px 2px var(--box-shadow-default);
}

.input {
    margin: 10px 0 23px;
    border: 1px solid var(--system-gray);
    border-radius: 3px;
    box-shadow: inset 0px 2px 1px var(--box-shadow-default);
}

.input:focus {
    border: 1px solid var(--primary-default);
    outline: none;
}

.form__input_text {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding-left: 10px;
}

.article-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 490px;
    max-height: 490px;
    padding: 10px 10px 10px;
    resize: none;
}

.input-file {
    width: 350px;
    max-width: 350px;
    margin-top: 15px;
    color: var(--font-mute);
    font-size: 16px;
}

.input-file::file-selector-button {
    width: 132px;
    height: 32px;
    margin: 0 30px;
    padding: 8px 10px 8px 10px;
    border: 1px solid var(--system-gray);
    border-radius: 6px;
    background: white;
    box-shadow: 0px 1px 2px var(--box-shadow-default);
    font-size: 14px;
}

.form-buttons {
    position: absolute;
    right: 25px;
    bottom: 20px;
}

.form-buttons__button {
    height: 32px;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 2px var(--box-shadow-default);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: var(--primary-default);
}

@media screen and (max-width: 970px) {
    .form {
        min-width: 400px;
        margin: 0 2%;
    }

    .form-buttons {
        position: static;
        margin-top: 20px;
    }

    .input-file::file-selector-button {
        margin: 0 5px 0 0;
    }
}
