@mixin main-defaults($color, $background) {
    background-color: $background;
    color: $color;
}

@mixin main-wrap-defaults($max-width: 1185px) {
    max-width: $max-width;
    margin: 0 auto;
    padding: 40px 0px 40px;
}
